@import '../../.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

#location-map {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#main {
  z-index: 1;
  position: relative;
}

#main, #footer-wrapper {
  opacity: 0;
}

#weather-now-inner, .weather-details-inner {
  background: rgba(255, 255, 255, 0.6);
}

.weather-details-inner {
  padding: 10px 0;
  font-size: 16px;

  .weather-details-item {
    display: block;
    .weather-detail-label {
      display: inline-block;
      font-weight: 600;
      width: 110px;
    }
    span {
      font-weight: normal;
    }
  }
}

.updated {
  font-size: 14px;
  margin-top: 10px;
  display: block;
  span {
    font-weight: 600
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 7px;
  color: #333 !important;
  opacity: 1;
}

.search-result {
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  max-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height linear 0.2s;

  .col-md-4, .col-md-8 {
    padding: 0;
  }

  .search-result-inner {
    position: relative;
    margin-bottom: 10px;
    .weather-details-inner {
      background: transparent;
    }
  }

  h3 {
    font-size: 24px;
    margin-top: 0;
    text-align: center;
    span {
      margin-top: 5px;
      display: inline-block;
      text-transform: uppercase;
    }
  }
}

#mini-map {
  width: 100%;
}

#weather-details {
  h2 {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    font-size: 24px;
    border-bottom: 1px solid rgba(13, 35, 58, 0.5);
    span + span {
      clear: both;
      padding-top: 5px;
      display: block;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.share-icons {
  margin-top: 10px;
  a {
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 5px;
    float: left;
  }
}

#search-city {

  ::-webkit-input-placeholder {
    color: rgba(13, 35, 58, 0.60);
  }

  :-moz-placeholder {
    color: rgba(13, 35, 58, 0.60);
  }

  ::-moz-placeholder {
    color: rgba(13, 35, 58, 0.60);
  }

  :-ms-input-placeholder {
    color: rgba(13, 35, 58, 0.60);
  }

  #city {
    height: 50px;
    border-right: none;
    background: #fff;
    color: #0d233a;
    background: rgba(255, 255, 255, 0.9)
  }

  .input-group-addon {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    padding: 2px 25px 0 25px;
    font-size: 22px;
  }
}

.legend {
  display: none !important;
}

#forecast {
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  display: none;
}

.weather-wrapper {
  .weather-details-inner {
    //padding-bottom: 5px;
  }
}

.col-info {
  h1 {
    text-align: center;
  }
  color: #0d233a;
}

.col-info-inner {
  background: #fff;
  padding: 10px;
}

#footer-wrapper {
  position: fixed;
  width: 100%;
  bottom: 5px;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;
      float: left;
      list-style: none;
      a {
        color: #333;
        font-weight: bold;
        &:focus, &:active {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

h1.title {
  margin-top: 0;
  font-size: 15px;
}

h2.subtitle {
  text-align: center
}

.made {
  a {
    color: #333333;
    text-decoration: none !important;
  }
}

@media (min-width: 320px) {
  #city {
    font-size: 16px;
  }

  .search-result-inner {
    padding: 15px 10px 10px 10px;
  }

  #search-city {
    margin-top: 15px;
  }

  .weather-wrapper {
    margin-bottom: 50px;
  }

  #mini-map {
    height: 160px;
  }

  #name-city {
    margin-bottom: 0;
  }

  .search-result {
    &.open {
      max-height: 385px;
    }
  }

  #weather-details, #another-city-form {
    padding-left: 0;
    padding-right: 0;
  }

  .col-info, .col-graph {
    padding-left: 0;
    padding-right: 0;
  }
  .share-icons {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 480px) {
  #forecast {
    display: block;
    height: 250px;
  }

  .share-icons {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #city {
    font-size: 25px;
  }

  .highcharts-axis-labels {
    display: inline-block;
  }

  .made {
    text-align: right;
    display: block;
  }

  #name-city {
    margin-bottom: 10px;
  }

  #mini-map {
    height: 300px;
    padding-bottom: 20px;
  }

  .search-result-inner {
    margin-top: 0;
    color: #0d233a;
  }

  .search-result {
    &.open {
      max-height: 365px;
    }
  }
}

@media (min-width: 990px) {
  #search-city {
    margin-top: 50px;
  }

  .col-info, .col-graph {
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-info {
    padding-right: 0;
  }

  #mini-map {
    padding-bottom: 0;
  }

  .share-icons {
    display: flex;
    justify-content: flex-start;
  }

  .search-result {
    margin-bottom: 15px;

    .search-result-inner {
      padding: 35px 10px 0 10px;
    }
  }
}