<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Tá chovendo em Joinville?" />
    <meta property="og:site_name" content="Tá chovendo em Joinville?" />
    <meta property="og:url" content="http://tachovendoemjoinville-ironrocks.rhcloud.com" />
    <meta property="og:description" content="Tá chovendo em Joinville é um site dedicado ao clima/tempo de Joinville, cidade brasileira do estado de Santa Catarina. Faz uso dos dados climáticos oferecidos pela empresa http://openweathermap.org/" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="article:author" content="https://www.facebook.com/caos19" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="263784757166119" />
    <meta property="article:publisher" content="https://www.facebook.com/caos19" />
    <meta name="description" content="Tá chovendo em Joinville é um site dedicado ao clima/tempo de Joinville, cidade brasileira do estado de Santa Catarina. Faz uso dos dados climáticos oferecidos pela empresa http://openweathermap.org/" />
    <title>
        Ta chovendo em Joinville?
    </title>
</head>