<template name="footer">
    <div id="footer-wrapper">
        <div class="container">
            <div class="col-md-6 col-sx-6">
                <ul>
                    <li><a href="https://pt.wikipedia.org/wiki/Joinville" target="_blank">Sobre Joinville</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sx-6 pull-right">
                <span class="made">Made with <img src="images/male_brain_64.png" width="22" alt="Icon made by Freepik from www.flaticon.com"/> by <a href="mailto:anderson@stuhler.com.br">me</a></span>
            </div>
        </div>
    </div>
</template>