<template name="search">
    <form id="search-city" method="posts">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="city" id="city" placeholder="Procurar cidade">
                <div class="input-group-addon">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="search-result">
        <div class="search-result-inner col-md-12">
            <span class="close"><span class="glyphicon glyphicon-remove"></span></span>
            <div class="details col-md-4">
                <span class="approximate">{{searchResult.appr}}</span><br/>
                <h3 class="name-city">Em, {{ searchResult.name }} <img src="{{ searchResult.flag }}" alt=""/><br><span>{{ searchResult.desc }}</span></h3>
                <div class="clearfix"></div>
                <div class="weather-details-inner">
                    <span class="weather-details-item">
                        <span class="weather-detail-label">Temperatura: </span>
                        <span class="weather-detail-value">{{ searchResult.temp }} °C</span>
                    </span>
                    <span class="weather-details-item">
                        <span class="weather-detail-label">Pressão: </span>
                        <span class="weather-detail-value">{{ searchResult.pres }} hpa</span>
                    </span>
                    <span class="weather-details-item">
                        <span class="weather-detail-label">Humidade: </span>
                        <span class="weather-detail-value">{{ searchResult.humi }} %</span>
                    </span>
                    <span class="weather-details-item">
                        <span class="weather-detail-label">Vento: </span>
                        <span class="weather-detail-value">{{ searchResult.wind }} m/s</span>
                    </span>
                </div>
            </div>
            <div class="col-md-8">
                <div id="mini-map"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</template>