<template name="weather">
    {{> locationMap }}
    <div id="main" class="container">
        <div id="another-city-form" class="col-md-12">
            {{> search}}
        </div>
        <div class="weather-wrapper">
            <div id="weather-details" class="col-md-12">
                <div class="weather-details-inner">
                    <div class="col-info col-md-3">
                        <div id="weather-now" class="col-info-inner" itemprop="event" itemscope itemtype="http://schema.org/Event">
                            <h1 class="title">Ta chovendo em Joinville?</h1>
                            <h2 class="subtitle"><span itemprop="location" content="Joinville, SC - Brasil">Em, Joinville</span><span>{{ weatherDataNow.weather.description }}</span></h2>
                            <span class="weather-details-item">
                                <span class="weather-detail-label" itemprop="name">Temperatura: </span>
                                <span class="weather-detail-value" itemprop="name">{{ weatherDataNow.weather.temp }} °C</span>
                            </span>
                            <span class="weather-details-item">
                                <span class="weather-detail-label" itemprop="name">Pressão: </span>
                                <span class="weather-detail-value" itemprop="name">{{ weatherDataNow.weather.pressure }} hpa</span>
                            </span>
                            <span class="weather-details-item">
                                <span class="weather-detail-label" itemprop="name">Humidade: </span>
                                <span class="weather-detail-value" itemprop="name">{{ weatherDataNow.weather.humidity }} %</span>
                            </span>
                            <span class="weather-details-item">
                                <span class="weather-detail-label" itemprop="name">Vento: </span>
                                <span class="weather-detail-value" itemprop="name">{{ weatherDataNow.weather.wind_speed }} m/s</span>
                            </span>
                            <span class="updated">Última atualização em <span itemprop="date" datetime="{{ weatherDataNow.weather.submitted }}">{{ weatherDataNow.weather.submitted }}</span></span>
                        </div>
                        <div class="share-icons">
                            <a class="twitter" href="http://twitter.com/share"><img width="42" height="42" src="images/twitter.png" alt=""/></a>
                            <a href="#" class="facebook"><img width="42" height="42" src="images/facebook.png" alt=""/></a>
                            <a href="#" class="gplus"><img width="42" height="42" src="images/gplus.png" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-graph col-md-9">
                        {{> chart }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {{> footer }}
</template>